<div class="overflow-auto h-96">
  <%#= turbo_frame_tag :calendar, src: calendar_week_path(date: @last_week_date), loading: :lazy, target: '_top', data: { turbo_action: 'advance' }, class:"hidden" %>
  <%= turbo_frame_tag :calendar, target: '_top' do %>
    <div class="font-bold text-center">
      <%= @date.strftime('%B') %>
    </div>
    <div class="grid grid-cols-7">
      <% month_offset(@date).times do %>
        <div></div>
      <% end %>
      <% @date.all_month.each do |day| %>
        <div class="border hover:bg-rose-200 h-32 bg-rose-300">
          <div class="bg-rose-400 text-center">
          <%= day.strftime('%a, %d %b') %>
          </div>
          <%= link_to "+", new_event_path(day:) %>
          <% @events.where(start_date: day.all_day).each do |event| %>
            <%= render 'events/event', event: %>
          <% end %>
        </div>
      <% end %>
    </div>

    <div class="">
      <%# scroll down to load next week %>
    </div>

    <%= turbo_frame_tag :calendar, src: calendar_month_path(date: @next_month_date), loading: :lazy, target: '_top', data: { turbo_action: 'advance' } %>
  <% end %>
<div>