<!DOCTYPE html>
<html>
  <head>
    <title>PagyCalendar</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="p-8">
      <%= link_to "Day", calendar_day_path %>
      <%= link_to "Week", calendar_week_path %>
      <%= link_to "Month", calendar_month_path %>
      <%= link_to "Calendar", calendar_path %>
      <%= yield %>
    </main>
  </body>
</html>
